<?xml version="1.0" encoding="utf-8" ?>
<configuration>
  <Archives>
  </Archives>
  <Documents>
  </Documents>
  <General>
  </General>
  <Images>
  </Images>
  <Music>
  </Music>
  <Others>
  </Others>
  <Pictures>
  </Pictures>
  <Programs>
  </Programs>
  <Shortcuts>
  </Shortcuts>
  <Videos>
  </Videos>
</configuration>